<div id="confirm_modal" class="modal hide in">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3 id="confirm_title">请确认</h3>
    </div>
    <div class="modal-body">
        <p id="confirm_content"></p>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary" href="#" id="confirm_confirm">确定</a>
        <a data-dismiss="modal" class="btn" href="#" id="confirm_cancel">取消</a>
    </div>
</div>